.header {
  background-color: #40407a;
  text-align: center;
}
.header h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
}
.header p {
  color: white;
  padding-bottom: 10px;
}
/* @media screen and (max-width: 1100px) {
  .header {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .header {
    width: 100%;
  }
} */
