.header {
  background-color: #40407a;
  text-align: center;
}
.header h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 0;
}
.header p {
  color: white;
  padding-bottom: 10px;
}
